@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Sunday';
  src: url('./assets/fonts/Sunday/sunday.ttf') format('truetype'),
    url('./assets/fonts/Sunday/sunday.woff') format('woff'),
    url('./assets/fonts/Sunday/sunday.woff2') format('woff2'),
    url('./assets/fonts/Sunday/sunday.svg') format('svg'),
    url('./assets/fonts/Sunday/sunday.eot') format('eot'),
    url('./assets/fonts/Sunday/sunday.eot') format('embedded-opentype'); /* IE6-IE8 */
  font-weight: normal;
  font-style: normal;
}
