/*colors*/
$color-dark: #1f160a;
$color-light: #f6c37d;
$color-accent: #fef9dc;
$color-active: #aa7e52;
$color-basic: #fff;

/*fonts*/
$font-primary: 'Montserrat', sans-serif;
$font-accent: 'Sunday';

/*media*/
$tablet-screen-width: 1024px;
$mobile-screen-width: 768px;
