@import 'variables';
@import 'mixin';

#app {
  background-color: $color-dark;
}
.container {
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;

  &--narrow {
    width: 1100px;
    padding: 10px 18px;
  }
}

.title {
  padding: 12px;
  @include font($font-accent, 48px, $color-dark, normal);
  text-align: center;

  &--light {
    color: $color-light;
  }

  &--accent {
    color: $color-accent;
  }
}

.dark {
  width: 100%;
  // background-color: $color-dark;
}

.light {
  width: 100%;
  background-color: $color-light;
}

.form-border {
  border: 1px dashed $color-light;
  border-radius: 36px;
}

/*accordion*/
